# Set

In [10]:
s={1,2,3,4,5,7}

In [11]:
type(s)

set

In [15]:
s[0]

TypeError: 'set' object is not subscriptable

In [5]:
l=[1,2,3,4,5,67,'stim']

In [14]:
l[4]

5

 # set is an unorderd collection of immutable unique objects

In [18]:
l=[1,2,3,4,5,6,7,8,1,2,3,4,5,22,34,56]

In [23]:
s1=set(l)

In [ ]:
s={[],2,3}  ,{(),23,45,} {string,345}

In [24]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 22, 34, 56]

In [26]:
s1=set(l)

In [28]:
l1=list(s1)

In [29]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 34, 22, 56]

# Dictionary

Dictionary is also a colletion where we strore values in key value pairs

word:meaning

key value

d={key:value}

In [56]:
d={"key1":"Arun"}

In [ ]:
x={1:2}

In [33]:
d["key1"]

'Arun'

In [54]:
d={"xyz":"Arun","key2":"Kumar","qwe":"rayani","dasf":123}

In [55]:
d["dasf"]

123

In [39]:
d1={1:"mango",2:"Apple"}

In [41]:
d1[2]

'Apple'

In [47]:
d3={_:1}

In [45]:
d3[_]

1

In [52]:
d3={&:1}

In [53]:
d3["&"]

1

In [61]:
stock={"Jeans":34,"shirts":25,"kerchierf":245}

In [64]:
stock["kerchierf"]

245

In [66]:
stock["shoes"]=3

In [67]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 245, 'shoes': 3}

In [68]:
stock["shoes"]=20

In [69]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 245, 'shoes': 20}

In [80]:
fruits={}

In [81]:
fruits["Mango"]="ulavapadu"

In [82]:
fruits

{'Mango': 'ulavapadu'}

In [83]:
fruits["Mango"]="chittor"

In [84]:
fruits

{'Mango': 'chittor'}

In [85]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 245, 'shoes': 20}

In [86]:
stock['kerchierf']=0

In [87]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}

In [88]:
del stock['kerchierf']

In [89]:
stock

{'Jeans': 34, 'shirts': 25, 'shoes': 20}

In [92]:
stock['kerchief']

KeyError: 'kerchief'

In [93]:
stock.get('kerchief','not available')

'not available'

In [107]:
stock.get('shoes123','not')

'not'

In [109]:
stock={'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}

In [118]:
for i in stock:
    print(i)

Jeans
shirts
kerchierf
shoes

In [110]:
for i in stock.keys():
    print(i)

Jeans
shirts
kerchierf
shoes

In [112]:
for values in stock.values():
    print(values)

34
25
0
20

In [115]:
for arun,srikanth in stock.items():
    print(f"{arun} {srikanth}")

Jeans 34
shirts 25
kerchierf 0
shoes 20

In [122]:
for K,V in stock.items():
    print(f"{K} {V}")

Jeans 34
shirts 25
kerchierf 0
shoes 20

In [141]:
stock={'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}

In [142]:
for k,v in sorted(stock.items()):
    print(f"{k} {v}")

Jeans 34
kerchierf 0
shirts 25
shoes 20

In [143]:
for k in sorted(stock.values()):
    print(f"{k}")

0
20
25
34

In [144]:
q={'Details':['arun','27','91','o-ve']}

In [145]:
q

{'Details': ['arun', '27', '91', 'o-ve']}

In [146]:
q['Details']

['arun', '27', '91', 'o-ve']

In [147]:
details={'Name':'Arun','Age':27,'Weight':91,'Bloodgroup':'o-ve'}

In [148]:
details['Name']

'Arun'

In [149]:
q

{'Details': ['arun', '27', '91', 'o-ve']}

In [150]:
q['Details']

['arun', '27', '91', 'o-ve']

In [151]:
q['Details'][2]

'91'

In [152]:
q1={'Details': ('arun', '27', '91', 'o-ve')}

In [153]:
q2={'Details':{'arun':'Name'}}

In [155]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}

In [156]:
l=[1,2,3,5]
l[0]

1

In [157]:
stock={'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}
stock['Jeans']

34

In [158]:
d={1:"arun",23:0,[1,2,3,4]:"kumar",(1,2,3,4):[1234,3456]}

TypeError: unhashable type: 'list'

In [159]:
d={1:"arun",23:0,"lastname":"kumar",(1,2,3,4):[1234,3456]}

In [160]:
d

{1: 'arun', 23: 0, 'lastname': 'kumar', (1, 2, 3, 4): [1234, 3456]}

In [163]:
d1={1:("arun","kumar"),23:0,"lastname":"kumar",(1,2,3,4):[1234,3456]}

In [162]:
d

{1: ('arun', 'kumar'), 23: 0, 'lastname': 'kumar', (1, 2, 3, 4): [1234, 3456]}

In [164]:
d1

{1: ('arun', 'kumar'), 23: 0, 'lastname': 'kumar', (1, 2, 3, 4): [1234, 3456]}

In [165]:
d+d1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [166]:
l=[1,2]
l1=[3,4]

In [168]:
l+l1

[1, 2, 3, 4]

In [180]:
l=[99,23,45,55,77]

In [197]:
l[0:-5:-1]

[]

In [198]:
l[::1]

[99, 23, 45, 55, 77]

In [199]:
l[0:5:1]

[99, 23, 45, 55, 77]

In [200]:
l[::-1]

[77, 55, 45, 23, 99]

In [202]:
l[-1:-6:-1]

[77, 55, 45, 23, 99]

In [203]:
l[0::-1]

[99]

In [258]:
d1.get('lastname1','no key found')

'no key found'

In [209]:
d1['lastname1']

KeyError: 'lastname1'

In [210]:
d1

{1: ('arun', 'kumar'), 23: 0, 'lastname': 'kumar', (1, 2, 3, 4): [1234, 3456]}

In [211]:
stock

{'Jeans': 34, 'shirts': 25, 'kerchierf': 0, 'shoes': 20}

In [212]:
key=('Jeans','shirts','curtains','kerchiefs','socks','shoes','lays','bands')

In [226]:
numberofitems=(4)

In [227]:
d3=dict.fromkeys(key,numberofitems)

In [228]:
d3

{'Jeans': 4,
 'shirts': 4,
 'curtains': 4,
 'kerchiefs': 4,
 'socks': 4,
 'shoes': 4,
 'lays': 4,
 'bands': 4}

In [229]:
d3=dict.fromkeys(key)

In [230]:
d3

{'Jeans': None,
 'shirts': None,
 'curtains': None,
 'kerchiefs': None,
 'socks': None,
 'shoes': None,
 'lays': None,
 'bands': None}

In [232]:
d3['Jeans']=2

In [233]:
d3

{'Jeans': 2,
 'shirts': None,
 'curtains': None,
 'kerchiefs': None,
 'socks': None,
 'shoes': None,
 'lays': None,
 'bands': None}

In [234]:
d3

{'Jeans': 2,
 'shirts': None,
 'curtains': None,
 'kerchiefs': None,
 'socks': None,
 'shoes': None,
 'lays': None,
 'bands': None}

In [235]:
d={"srikanth Textiles":{'Jeans': None,'shirts': None},"Vijay Textiles":{'Jeans': 1000,'shirts':200}}

In [236]:
d

{'srikanth Textiles': {'Jeans': None, 'shirts': None},
 'Vijay Textiles': {'Jeans': 1000, 'shirts': 200}}

In [237]:
d.keys()

dict_keys(['srikanth Textiles', 'Vijay Textiles'])

In [238]:
d.values()

dict_values([{'Jeans': None, 'shirts': None}, {'Jeans': 1000, 'shirts': 200}])

In [239]:
d.items()

dict_items([('srikanth Textiles', {'Jeans': None, 'shirts': None}), ('Vijay Textiles', {'Jeans': 1000, 'shirts': 200})])

In [284]:
d={"srikanth Textiles":{'Jeans': None,'shirts': 23},"Vijay Textiles":{'Jeans': 1000,'shirts':200}}

In [285]:
d['Vijay Textiles']['Jeans']

1000

In [286]:
d['srikanth Textiles']['shirts']

23

In [287]:
d['srikanth Textiles']['shirts1']

KeyError: 'shirts1'

In [289]:
d1=d.get('srikanth Textiles''shirts')

In [283]:
d1.get('shirts')

23

In [291]:
d.get('srikanth Textiles''shirts')

In [292]:
d={"srikanth Textiles":{'Jeans': None,'shirts': 23},"Vijay Textiles":{'Jeans': 1000,'shirts':200}}

In [293]:
d.get('Vijay Textiles''shirts')

In [6]:
num=input("please enter a number:")

please enter a number:45

In [8]:
type(num)

str

In [296]:
x=input("dafksdf;dklfd")

dafksdf;dklfd007

In [297]:
x

'007'

In [ ]:
y=input("enter a number")

In [15]:
num1=int(input("please enter a number:"))

please enter a number:456789012345678906735645,

ValueError: invalid literal for int() with base 10: '456789012345678906735645,'

In [10]:
type(num)

str

In [11]:
type(num1)

int

In [14]:
num1

456789012345678906735645

In [16]:
pwd

'C:\\Users\\rayania\\Python class'