In [45]:
l=['ARUN','VIJAY','SUREKHA','SRIKANTH']

In [15]:
str='Your class is started'
str.upper()

'YOUR CLASS IS STARTED'

In [3]:
for name in l:
    print(name)

ARUN
VIJAY
SUREKHA
SRIKANTH

In [17]:
for name in l:
    print(f"{name.title()} ,{str.lower()}")

Arun ,your class is started
Vijay ,your class is started
Surekha ,your class is started
Srikanth ,your class is started

In [23]:
for x in l:
    print(f"{x}, {str}")
print("please join")

ARUN, Your class is started
VIJAY, Your class is started
SUREKHA, Your class is started
SRIKANTH, Your class is started
please join

In [24]:
for x in l:
    print(f"{x}, {str}")
    print("please join")

ARUN, Your class is started
please join
VIJAY, Your class is started
please join
SUREKHA, Your class is started
please join
SRIKANTH, Your class is started
please join

In [44]:
for x in l:
    print(f"{x}, {str}")
    
print("please join")

ARUN, Your class is started
VIJAY, Your class is started
SUREKHA, Your class is started
SRIKANTH, Your class is started
please join

In [46]:
l=['ARUN','VIJAY','SUREKHA','SRIKANTH']

In [47]:
W=['PYTHON','R','ML','DS']

In [53]:
for name in l:
    print(f"{name} , {str}")
    for subjects in W:
        print(f"you have to learn {subjects}")
print("Please join")

ARUN , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
VIJAY , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
SUREKHA , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
SRIKANTH , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
Please join

In [54]:
for name in l:
    print(f"{name} , {str}")
    for subjects in W:
        print(f"you have to learn {subjects}")
        print("Please join")

ARUN , Your class is started
you have to learn PYTHON
Please join
you have to learn R
Please join
you have to learn ML
Please join
you have to learn DS
Please join
VIJAY , Your class is started
you have to learn PYTHON
Please join
you have to learn R
Please join
you have to learn ML
Please join
you have to learn DS
Please join
SUREKHA , Your class is started
you have to learn PYTHON
Please join
you have to learn R
Please join
you have to learn ML
Please join
you have to learn DS
Please join
SRIKANTH , Your class is started
you have to learn PYTHON
Please join
you have to learn R
Please join
you have to learn ML
Please join
you have to learn DS
Please join

In [55]:
for name in l:
    print(f"{name} , {str}")
    for subjects in W:
        print(f"you have to learn {subjects}")
        print("Please join")

ARUN , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
Please join
VIJAY , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
Please join
SUREKHA , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
Please join
SRIKANTH , Your class is started
you have to learn PYTHON
you have to learn R
you have to learn ML
you have to learn DS
Please join

In [56]:
l

['ARUN', 'VIJAY', 'SUREKHA', 'SRIKANTH']

# Numerical List

In [58]:
s=l[0]

In [59]:
s

'ARUN'

In [62]:
n=range(0,5)

In [64]:
for i in n:
    print(i)

0
1
2
3
4

In [65]:
print(n)

range(0, 5)

In [66]:
s

'ARUN'

In [67]:
list(s)

['A', 'R', 'U', 'N']

In [68]:
numlist=list(range(1,6))

In [69]:
numlist

[1, 2, 3, 4, 5]

In [76]:
numlist=list(range(1,10))

In [77]:
numlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

generate a list giving squares of first 10 natural numbers

In [78]:
range(0,10)

range(0, 10)

In [103]:
sq

[81]

In [106]:
sq=[]
for i in range(0,10):
    square=i**2
    sq.append(square)

In [99]:
sq=[]

In [101]:

for i in range(0,10):
    print(sq)
    sq=[]
    sq.append(i**2)

[]
[0]
[1]
[4]
[9]
[16]
[25]
[36]
[49]
[64]

In [104]:
for i in range(0,10):
    print(sq)
    sq=[]
    sq.append(i**2)

[81]
[0]
[1]
[4]
[9]
[16]
[25]
[36]
[49]
[64]

In [107]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
min(sq)

0

In [110]:
max(sq)

81

In [111]:
sum(sq)

285

In [112]:
sorted(sq,reverse=True)

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [113]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
sq.sort(reverse=True)

In [117]:
sq

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [118]:
sq

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [119]:
sq.sort()

In [120]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [121]:
sq=sq

In [122]:
c=sq

In [123]:
c

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
sq[0]='fire'

In [125]:
sq

['fire', 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [126]:
c

['fire', 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
c=sq[:]

In [128]:
c

['fire', 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [129]:
sq[0]=0

In [130]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [137]:
d=[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [139]:
for i in d:
    print(i)

1
2
3
4
5

In [140]:
for i in d[:]:
    print(i)

1
2
3
4
5

In [142]:
for i in d[0:5]:
    print(i)

1
2
3
4
5